body{
	background-color: #fffff2;
}
header {
	text-align: center;	
}
h1 {
	color: blue;
}
.container {
	padding: 20px 10px;
}
form {

		font-size: 4vw;
	}
	strong {
	font-size: 4.5vw;
}
input {
	width:40px; 
	height:40px;
}
.output {
	border: 1px solid black;
	padding: 0 20px;
	display: hidden;
	margin-left: 5px;
}
@media screen and (max-width: 800px) {
	form {

	font-size: 1vw;
	}
	strong {
		font-size: 2.2vw;
	}	
}