body{
	background-color: #fffff2;
}
header {
	text-align: center;	
}
h1 {
	color: blue;
}
.container {
	padding: 20px 10px;
}
.form {
		font-size: 50px;
	}
	strong {
	font-size: 4.5vw;
}
input {
	width:40px; 
	height:40px;
}
button {
	font-size: 3.5vw;
	padding: 20px;
}
button:hover{
	cursor : pointer;
}
.output {
	border: 1px solid black;
	padding: 0 20px;
	display: hidden;
	margin-left: 5px;
}
@media screen and (max-width: 768px) {
	.form {
	font-size: 50px;
	}
	strong {
		font-size: 2.2vw;
	}	
	input {
	width:30px; 
	height:30px;
	}
	button {
		font-size: 1vw;
		padding: 20px;
	}
}